@font-face {
    font-family: "Source Serif Pro";
    font-weight: 200;
    font-style: normal;
    src: url('/font/SourceSerifPro-ExtraLight.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 200;
    font-style: italic;
    src: url('/font/SourceSerifPro-ExtraLightIt.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 300;
    font-style: normal;
    src: url('/font/SourceSerifPro-Light.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 300;
    font-style: italic;
    src: url('/font/SourceSerifPro-LightIt.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: normal;
    src: url('/font/SourceSerifPro-Regular.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: italic;
    src: url('/font/SourceSerifPro-It.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-style: normal;
    src: url('/font/SourceSerifPro-Semibold.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-style: italic;
    src: url('/font/SourceSerifPro-SemiboldIt.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 700;
    font-style: normal;
    src: url('/font/SourceSerifPro-Bold.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 700;
    font-style: italic;
    src: url('/font/SourceSerifPro-BoldIt.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 900;
    font-style: normal;
    src: url('/font/SourceSerifPro-Black.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 900;
    font-style: italic;
    src: url('/font/SourceSerifPro-BlackIt.otf') format('opentype');
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
    font-display: swap;
}
