@import 'source-serif';

$black: black;
$off-black: #222222;

$white: white;

$hover-gray: #aaa;

$info-gray: #333;
$theme-color: #005485;
$theme-color-muted: #003351;

$default-font-family: "Source Serif Pro", Baskerville, "Libre Baskerville", serif;

body {
    color: $black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 61.8%;
    font-family: $default-font-family;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    body {
        width: 76%;
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 87%;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 98%;
    }
}

// Source code
pre {
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    display: block;
    padding: 1rem;
}

%header-link {
    color: black;
    text-decoration: none;
}

%nav-hover {
    background-color: $theme-color-muted;
    color: $white;
}

// Blockquote

blockquote {
    // font-style: italic;
    font-size: 1.1rem;
    font-weight: 400;
    width: 35rem;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.5;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 20px;
    content: "\201C";
    font-size: 48px;
    position: absolute;
    left: -10px;
    top: -10px;
    color: $off-black;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

ul#header {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    border-bottom: 2px solid black;
    overflow: hidden;

    li a {
        @extend %header-link;
        display: block;
        font-size: 20px;
    }

    li.logo {
        float:left;
        a {
            padding: 10px 10px 10px 0px;
            margin: 0px 0px 0px 0px;
            font-weight: bold;
            text-align: left;
        }
    }
    li.nav {
        float: left;
        a { 
            text-align: center;
            padding: 10px 10px 10px 10px;
            margin: 0px 0px 0px 0px;
        }
        a:hover {
            @extend %nav-hover;
        }
    }

    #selected a {
        color: white;
        background: $theme-color;
    }
}

@media screen and (max-width: 470px) {
    ul#header {
        display: block;

        li.logo {
            float:none;
            a {
                padding: 5px 0px 5px 0px;
                margin: 0px 0px 0px 0px;
                text-align: left;
            }
        }
        
        li.nav {
            float:none;
            a {
                text-align: left;
                padding: 5px 0px 5px 10px;
                margin: 0px 0px 0px 0px;
            }
        
        }
    }
}

div.paginate {
    position: relative;
    margin-top: 10px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    width: inherit;

    a {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        background-color: $theme-color;
        color: white;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }

    a:hover {
        @extend %nav-hover;
    }

    a#prev {
        float: left;
    }

    a#next {
        float: right;
    }
}

.clearfix {
    float: none;
    clear: both;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 10px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    text-align: left;
    font-size: 24px;
}

h2 {
    text-align: left;
    font-size: 20px;
    border-bottom: solid 1px black;
}

h3 {
    text-align: left;
    font-size: 18px;
    position: relative;
    border-bottom: solid 1px black;
    display: inline;
}

h1.title {
    border-bottom: solid 2px black;
    margin-bottom: 5px;

    a {
        @extend %header-link;
        padding-left: 2px;
        display: block;
    }

    a:hover {
        @extend %nav-hover;
    }
}

img.cover {
    max-width: 200px;
    max-height: 200px;
}

//for the posted date line
div.meta {
    float: left;
    color: $info-gray;
    margin-top: 0px;
    font-size: 12px;
}

project {
    font-weight: bold;
    // font-size: 24px;
    color: #006400;
}

project:after {
    content: " => ";
}
