{% import "post_macros.html" as post_macros %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Akeratos - {% if section %} {{ section.title }} {% elif page %} {{ page.title }} {% endif %}</title>
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="default.css") | safe}}" />
    </head>
    <body>
        <ul id="header">
            <li class="logo" {#{%- if current_path is matching("^/$") %} id="selected" {%- endif %} #}>
                <a href="{{ get_url(path = "@/_index.md", trailing_slash=true) }}">akeratos</a>
            </li>
            <li class="nav" {%- if current_path is starting_with("about/") %} id="selected" {%- endif %}>
                <a href="{{ get_url(path="@/about.md", trailing_slash=true) | safe }}">about</a>
            </li>
            <li class="nav" {%- if current_path is starting_with("contact/") %} id="selected" {%- endif %}>
                <a href="{{ get_url(path="@/contact.md", trailing_slash=true) | safe }}">contact</a>
            </li>
        </ul>


        <div id="content">
            {% block content %}

            {{section.content | safe}}

            {% set blog = get_section(path="blog/_index.md") %}
            {% for page in blog.pages | filter(attribute="draft", value=false) | slice(end=paginator.paginate_by) %}
            <article class="post">
                {{ post_macros::title(page=page) }}
                <div class="post__summary">
                    {{ page.summary | safe }}
                </div>
                <div class="read-more">
                    <a href="{{ page.permalink | safe }}">Read more...</a>
                </div>
            </article>
            {% endfor %}

            <div class="paginate">
                {% set blog_count = blog.pages | length %}
                {% if blog_count > paginator.paginate_by %}
                <a id="next" href="{{ get_url(path="./blog/_index.md", trailing_slash=true) | safe }}">All Posts &raquo;</a>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            {% endblock content %}
        </div>
        <div id="footer">
          <p>
            2011-2019 Lorepub LLC
            <a href="{{get_url(path="@/copy/index.md") | safe}}">(license/info)</a>.
            Site generated with
            <a href="http://getzola.org/">Zola</a>.
          </p>
        </div>
    </body>
</html>
