{% macro title(page) %}
    <header class="post__header">
        {% if page.extra.notitle %} {% else %}
        <h1 class="title">
            <a href="{{ page.permalink | safe}}">{{ page.title }}</a>
        </h1>
        {% endif %}
        <div class="meta">
            {% if page.date %}<span class="post__time">Posted: {{ page.date | date(format="%F") }}</span> {%endif%}
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) | safe}}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </header>
{% endmacro title %}
